@model IEnumerable<MovieCatalog.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>INDEX</h2>

<form method="get" action="@Url.Action("Index")"
      data-otf.ajax="true" data-otf.target="#movieList">

    @Html.TextBox("SearchString") <br />
    <input type="submit" value="Search" />

</form>

<p>
    @Html.ActionLink("Create New", "Create")

</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Name)*@
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Director)*@
            @Html.ActionLink("Director", "Index", new { sortOrder = ViewBag.DirectorSortParm })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ReleaseDate)*@
            @Html.ActionLink("ReleaseDate", "Index", new { sortOrder = ViewBag.ReleaseDateSortParm })
            @*@Html.TextBox("ReleaseDate", "Index" , new { @class = "datepicker", @type = "date" })*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Genre)*@
            @Html.ActionLink("Genre", "Index", new { sortOrder = ViewBag.GenreSortParm })
        </th>
        <th></th>
    </tr>


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Director)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
